<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <mvc:default-servlet-handler/>

    <mvc:annotation-driven/>

    <context:component-scan base-package="beans.controllers"/>

    <bean class="beans.configuration.web.JacksonObjectMapper" id="objectMapper" factory-method="getMapper"/>

    <bean id="jacksonObjectMapper" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"
          p:targetMethod="disable">
        <property name="targetObject" ref="objectMapper"/>
        <property name="arguments">
            <list>
                <util:constant static-field="com.fasterxml.jackson.databind.DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES"/>
            </list>
        </property>
    </bean>

    <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"
          p:supportedMediaTypes="application/json"
          p:objectMapper-ref="jacksonObjectMapper"/>

    <bean id="mappingJacksonJsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"
          p:extractValueFromSingleKeyModel="true"
          p:objectMapper-ref="jacksonObjectMapper"/>

    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/freemarker/"/>
    </bean>

    <bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"
          p:cache="true"
          p:prefix=""
          p:suffix=".ftl"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"/>

    <bean id="jsonViewResolver" name="jsonViewResolver" class="beans.configuration.web.JsonViewResolver"/>

    <bean id="xmlViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
        <property name="location" value="/WEB-INF/spring-pdf-views.xml"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
        p:maxUploadSize="100000"
        p:maxInMemorySize="50000"/>

    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="contentNegotiationManager">
            <bean class="org.springframework.web.accept.ContentNegotiationManager"/>
        </property>

        <property name="viewResolvers">
            <list>
                <ref bean="jsonViewResolver"/>
                <ref bean="xmlViewResolver"/>
                <ref bean="freeMarkerViewResolver"/>
            </list>
        </property>

    </bean>
</beans>